DB_HOST=
DB_PORT=
DB_NAME=
DB_USERNAME=
DB_PASSWORD=
MYSQL_ROOT_PASSWORD=
REDIS_HOST=
REDIS_PORT=

JWT_SECRET=

AWS_S3_BUCKET=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_CLOUDFRONT_DOMAIN=

AWS_SQS_ORDER_QUEUE_URL=
AWS_SQS_CONSUMER_ENABLED=

AWS_SQS_PURCHASE_EMAIL_QUEUE_URL=
AWS_SQS_PURCHASE_EMAIL_PUBLISHER_ENABLED=false
AWS_SQS_PURCHASE_EMAIL_CONSUMER_ENABLED=false
AWS_SES_FROM_ADDRESS=

DOCS_AUTH_USERNAME=
DOCS_AUTH_PASSWORD=
